.footer-container {
  width: 100%;
  flex-shrink: 0;
  background-color: #fff;

  .li-footer__list {
    display: flex;
    max-width: 1128px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 50px;
    height: auto;
    margin: 0 auto;
    list-style: none;

    .li-footer__item {
      justify-content: center;
      width: auto;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      padding: 8px;
      flex-shrink: 0;
      position: relative;
      text-align: left;

      .li-footer-logo {
        opacity: 1;
        align-self: center;
        width: 56px;
        height: 14px;
        display: inline-block;
        margin-right: 8px;
      }
      .li-footer__text {
        align-items: center;
      }
    }
    .li-footer__link {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 600;
      font-size: 12px;
      align-items: center;
      display: flex;
    }
    .li-footer__link:hover {
      color: #004182;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    margin: 20px 0 !important;
  }
  .li-footer__list {
    display: flex !important;
    gap: 10px !important;
  }
}
