.nav {
  margin: auto;
  max-width: 1128px;
  padding: 12px 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
}
.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  text-decoration: none;
  width: 64px;
  flex-direction: column;
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.3);
}

.navlink:hover {
  color: rgba(0, 0, 0, 0.6);
}

.logo {
  cursor: pointer;
}

// li-img{
//   color: rgba(0, 0, 0, 0.3);
// }
// // .img {
//   // color: #0a66c2;
//   // width: 125px;
// }

.navlist {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-content: center;
}

.navleft {
  display: flex;
}
.navlist li {
  display: flex;
  flex-direction: column;
  // padding: 10px;
}

.nav_cta {
  display: flex;
  // grid-row: 4px;
  justify-items: center;
  gap: 5px;
  align-items: center;
  min-width: 100px;
  flex-wrap: nowrap;
  flex-shrink: 0;

  // align-content: center;
  // padding-top: 12px;
}
.hline {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1px;
  height: 40px;
}

.nav-link span {
  padding-top: 12px;
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 50px;
  padding-right: 10px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 25px;
  font-weight: 600;
  cursor: pointer;
}

.btn_join:hover {
  background-color: #f3f0f0;
  border-color: #efefef;
}
// .btn:hover {
//   background-color: #efefef;
// }
.btn_signin {
  width: 100px;
  border: solid 1px #0a66c2;
  color: #0a66c2;
}
.btn_signin:hover {
  background-color: #ddeaf8;
}
