.social-action-comment {
  display: inline-flex;

  .social-action-comment-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
    width: 100% !important;
    min-height: 3.2rem;
    line-height: 2.8rem;
    min-width: 0;

    .social-comment {
      font-size: 1.4rem;
      display: flex;
      justify-content: center !important;
      flex-wrap: wrap !important;
      align-items: center !important;

      .social-comment-icon {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin: 0 4px 0 -2px;
      }
      .social-comment-text {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
.social-action-comment:hover{
    background-color: rgba(0, 0, 0, 0.08);
}