.home-layout {
  padding-top: 52px;
  background-color: #f3f2ef;
  min-height: 100vh;

  .home-layout__main-container {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    .home-layout-content {
      display: grid;
      column-gap: 1.8rem;
      grid-area: content;
      grid-template-rows: auto;
      row-gap: 1.8rem;
      margin: 1.6rem 0;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 992px) {
  .home-layout-content {
    grid-template-areas: "sidebar main aside";
    grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);
  }
}

@media screen and (max-width: 992px) {
  .home-layout-content {
    grid-template-areas: "sidebar" "main" "aside";
    grid-template-columns: minmax(0, auto);
  }
}
